@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.Toastify__toast-container--top-right {
  top: 100px !important;
  z-index: 9999;
}

body{
  min-height: 100vh;
  background-color: #d5b697;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-contents {
  display: flex;
}

.sidebar {
  width: 18%;
  min-height: 100vh;
  border-top: 0;
  font-size: max(1vw, 10px);
}

.main-content {
  width: 82%; /* Adjust based on the sidebar width */
  min-height: 100vh;
  margin-left: 18%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor{
  cursor: pointer;
}

.Toastify__toast {
  background-color: #183030;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
}

.Toastify__progress-bar {
  background: #d5b697;
}

.Toastify__close-button {
  color: white;
}


/* Toast background */
.Toastify__toast-theme--light {
  background: #183030 !important;
  color: white !important;
}

/* Toast body text */
.Toastify__toast-body {
  color: white !important;
}

/* Progress bar */
.Toastify__progress-bar {
  background: #d5b697 !important;
}

/* Close button */
.Toastify__close-button {
  color: white !important;
}

/* Error icon */
.Toastify__toast-icon svg {
  fill: #d5b697 !important; 
}