.add {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.add-img-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}

.add-product-name, .add-product-description, .add-category-price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea, .add-category-price select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.selected-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview {
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 50%;
    cursor: pointer;
}

.add-product-points {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.point-input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.point-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.point-input button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
