.list-table-format {
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr; /* Define columns for images, name, category, and action */
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
    gap: 10px; /* Adds space between grid items */
}

.list-table-format .title {
    background-color: #f9f9f9;
}

.list-table-format .image-column {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    gap: 5px; /* Adds space between the images */
}

.list-table-format .image-column img {
    width: 50px;
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr; /* Adjust grid for smaller screens */
        gap: 15px;
    }

    .list-table-format .title {
        display: none; /* Hide titles on smaller screens */
    }
}
