/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Arrow container style */
.slick-prev,
.slick-next {
  background: none !important;
  border: none;
  z-index: 1;
  margin-top: -18px;
}

/* Arrow icons */
.slick-prev::before,
.slick-next::before {
  color: #183030 !important;
  font-size: 70px !important;

  /* Fix blurry icon issue */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #183030;
  opacity: 1 !important;
}

/* Arrow positioning */
.slick-prev {
  left: -70px;
}

.slick-next {
  right: -20px;
}

/* Disable hover/focus effects */
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  background: none;
  border: none;
  outline: none;
}

/* Dots container */
.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Individual dot style */
.slick-dots li button::before {
  font-size: 10px;
  color: #183030;
  opacity: 0.98 !important;
  transition: all 0.3s ease;
}

/* Active dot style */
.slick-dots li.slick-active button::before {
  color: #183030;
  opacity: 1;
  font-size: 15px;
}

/* Dot hover effect */
.slick-dots li button:hover::before {
  color: #183030;
  opacity: 0.98 !important;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .slick-dots {
    bottom: 5px;
    gap: 5px;
  }

  .slick-dots li button::before {
    font-size: 10px;
  }

  .slick-dots li.slick-active button::before {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }

  .slick-dots {
    bottom: -20px;
  }
}
